<div class="main-container">
  <div class="main-panel">
    <div class="top-info">
      <div class="addon-name">
        XD
      </div>
      <div class="addon-version">
        v0.0.1
      </div>
      <div class="main-panel-actions">
        <i class="close-button"></i>
      </div>
    </div>
    <div class="tab-panel">
      <div class="tab-selector">
        <div class="select-player-model">

        </div>
        <div class="select-npc">

        </div>
        <div class="config">

        </div>
      </div>
      <div class="tab-content">

      </div>
    </div>
  </div>
</div>
